.resume-download {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-download-btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: black;
    color: white;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.5s;
}

.resume-download-btn:hover {
    border: 2px solid black;
    color: black;
    background-color: white;
}