:root {
  --cube-size: 200px;
}

.home {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  overflow: hidden;
}

.homeCanvas {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.front-name {
  position: absolute;
  top: 50%;
  left: 0%;
  background-color: white;
  z-index: 20;
  padding: 0px 20px;
  font-size: 2.5rem;
  transform: translate(0%, -50%);
  font-weight: 800;
}

.front-name > p {
  margin: 2px;
}

.front-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  height: 100vh;
  width: 35%;
  margin-right: 5px;
}

.front-info > p {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.front-btn {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-btn {
  cursor: pointer;
  padding: 1rem 2.8rem;
  font-weight: 900;
  background-color: white;
  font-size: 1rem;
  color: black;
  transition: all 0.5s;
  outline: none;
  border: none;
}

.projects-btn2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 100%);
  cursor: pointer;
  padding: 1rem 2.8rem;
  font-weight: 900;
  background-color: black;
  font-size: 1rem;
  color: white;
  transition: all 0.5s;
  outline: none;
  border: none;
}

.projects-btn2:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.projects-btn:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-shadow: 2px;
}

.homeContainer {
  background-color: white;
  border-radius: 0 0 200px 200px;
  padding-top: 0.5rem;
  border-bottom: 200px solid white;
  position: relative;
  z-index: 1;
}

.homeContainer > h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 4vmax;
  color: rgba(22, 20, 20, 0.904);
}

.homeSkills {
  transform: translateY(-200px);
  background-color: hsl(219, 4%, 8%);
  height: 1500px;
  position: relative;
  margin-bottom: -200px;
  padding: 200px;
  box-sizing: border-box;
  perspective: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

.homeSkills {
  perspective: 800px;
  perspective-origin: 50% 100px;
  color: white;
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding: 4vmax;
  text-align: center;
}

.homeCubeSkills {
  position: relative;
  transition: all 0.5s;
  width: var(--cube-size);
  height: var(--cube-size);
  transform-style: preserve-3d;
  animation: spin 15s linear infinite alternate;
}

.homeCubeSkillsFaces {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.7;
}

.homeCubeSkillsFaces > img {
  width: inherit;
  height: inherit;
}

.homeCubeSkillsFace1 {
  transform: translate3d(0, 0, calc(var(--cube-size) * 0.75));
}

.homeCubeSkillsFace2 {
  transform: rotateY(180deg) translate3d(0, 0, calc(var(--cube-size) * 0.75));
}

.homeCubeSkillsFace3 {
  transform: rotateY(-90deg) translate3d(0, 0, calc(var(--cube-size) * 0.75));
}

.homeCubeSkillsFace4 {
  transform: rotateY(90deg) translate3d(0, 0, calc(var(--cube-size) * 0.75));
}

.homeCubeSkillsFace5 {
  transform: rotateX(90deg) translate3d(0, 0, calc(var(--cube-size) * 0.75));
}

.homeCubeSkillsFace6 {
  transform: rotateX(-90deg) translate3d(0, 0, calc(var(--cube-size) * 0.75));
}

.cubeShadow {
  width: 300px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 50%;
  filter: blur(3px);
  animation: cubeShadow 1s ease-in-out infinite alternate;
}

.homeSkillsBox {
    background-color: hsl(250, 100%, 75%);
    /* padding: 0.2vmax; */
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.homeSkillsBox > svg {
    font-size: 3vmax;
    color: rgb(255, 255, 255);
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 0.7rem;
}

.homeSkillsBox > svg:hover {
    transform: scale(1.5);
}

.contact-me-section {
  min-height: 500px;
  background-color: white;
  border-radius: 200px 200px 0 0;
  transform: translateY(-200px);
}

.contact-me-section > h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 4vmax;
  color: rgba(22, 20, 20, 0.904);
}

.contact-me-form {
  position: relative;
  display: flex;
  transition: all 0.5s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-form > div {
  margin: 10px 0px;
}

.contact-me-form > div > input, .contact-me-form > div > textarea {
  padding: 15px;
  padding-right: 150px;
  border-radius: 5px;
}

.contact-me-form > div > textarea {
  height: 200px;
}

.contact-me-form > div > button {
  outline: none;
  border: none;
  padding: 10px 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}

.contact-me-form > div > button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

@keyframes spin {
  to {
    transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
  }
}

@keyframes cubeShadow {
  to {
    transform: scale(1.2) translateY(-10px);
  }
}

@keyframes homeSkillsBoxAnimationOn {
    from {
        right: -60px;
    }
    to {
        right: 0px;
    }
}

@keyframes homeSkillsBoxAnimationOff {
    from {
        right: 0px;
    }
    to {
        right: -60px;
    }
}

@media screen and (max-width: 640px) {
  .front-info > p {
    font-size: 1rem;
  }
  .contact-me-form {
    width: 90vw;
    margin: auto;
  }
  .contact-me-form > div > input, .contact-me-form > div > textarea {
    padding-right: 100px;
  }
  :root {
    --cube-size: 100px;
  }
}